{% extends 'partials/base.html.twig' %}

{% block content %}
		{% if config.plugins.breadcrumbs.enabled %}
			{% include 'partials/breadcrumbs.html.twig' %}
		{% endif %}
  <h2>{{ page.title }}</h2>
  <!-- % include 'partials/socialbuttons.html.twig' with {'url' : page.url} % -->
  {{ page.content }}
{% endblock %}
