{% embed 'partials/base.html.twig' %}

	{% set collection = page.collection() %}

	{% block content %}
		{% set blog_image = page.media.images|first.brightness(-30) %} <!-- .grayscale().contrast(20).brightness(-100).colorize(236,118,-35) -->

		{% if blog_image %}
		<div class="flush-top blog-header blog-header-image" style="background-image: url({{ blog_image.url }});">
		{% else %}
		<div class="blog-header">
		{% endif %}
			{{ page.content }}
		</div>

		<div class="content-wrapper blog-content-list grid">
			<!--div id="listing" class="block pure-u-2-3">
				{% for child in collection %} 
			        {% include 'partials/blog_item.html.twig' with {'blog':page, 'page':child, 'truncate':true} %}
			    {% endfor %}

                {% if config.plugins.pagination.enabled and collection.params.pagination %}
                    {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
                {% endif %}
			</div-->
			<!--div id="sidebar" class="block size-1-3 pure-u-1-3">
				{% include 'partials/sidebar.html.twig' with {'blog':page} %}
			</div-->
      <!--div class="block pure-u-1-1 homepage" style="float:left;clear:both">Die Tierliebe in die Wiege gelegt, begleiteten mich Tiere mein ganzes Leben. Es war mir stets eine unbeschreibliche Herzensangelegenheit zu helfen, wenn ein Tier in Not war. Schlimm war die Erkenntnis das Tierleid unermesslich ist, bitter das Gefühl ohnmächtig gegen dieses Elend zu sein. Inspiriert von wundervollen gleichgesinnten Menschen, begann ich vor einigen Jahren in einem Hundeauffanglager in Serbien zu helfen. Noch heute ist mir in Erinnerung, als mich die entsetzlichen Bilder der vielen verlorenen Hundeseelen aus diesem Lager erreichten. Verlorenes Leben welches sich nichts zu Schulden kommen hat lassen, als in diese Welt geboren zu sein. Ich sah mich in diesem Meer an Hunden versinken.
Ich musste helfen. Wenigstens einige dieser Seelen sollten es in ein lebenswertes Leben schaffen. Das es mir möglich werden würde in einem solchen Ausmaß zu helfen, hätte ich nie zu denken gewagt. Wundervolle Menschen sind mir auf diesem Weg begegnet. Menschen die diesen erbarmungswürdigen Hundeseelen ermöglichten zu erfahren, wie sich Wertschätzung, Liebe, Wärme und Fürsorge anfühlt. Diese Menschen haben die langjährige Hilfe erst möglich gemacht. Ihnen gebührt ein großer Dank aus tiefstem Herzen.
</div><br style="clear:both" /-->
      {% for child in collection %}
        <div class="block pure-u-1-3 homepage">
          {% include 'modular/home.html.twig' with {'page':child} %}
        </div>
      {% endfor %}
      
		</div>
	{% endblock %}

{% endembed %}


